:root {
  --body-background: white;
  --body-text: black;
  --btn-green: #4caf50;
  --btn-green-hover: #45a049;
  --btn-red: red;
  --btn-red-hover: rgb(171, 0, 0);
  --btn-red-clear: #ff67677c;
  --btn-red-clear-hover: rgb(171, 0, 0);
  --btn-yellow: yellow;
  --btn-yellow-hover: rgb(192, 192, 0);
  --clickable-blue: rgb(0, 149, 255);
  --clickable-blue-hover: blue;
  --input-background: #F7F8F9;
  --nav-background: rgba(255, 255, 255, 0.15);
  --popup-background: white;
  --table-background: white;
  --table-border: #ddd;
  --table-header: #f2f2f2;
  --table-hover: #d0d7d9;
  --text-black: black;
  --text-white: white;
}

.darkmode {
  --body-background: #22272B;
  --body-text: white;
  --input-background: rgb(222,228,234);
  --nav-background: rgba(0, 0, 0, 0.15);
  --popup-background: #2C333A;
  --table-background: #38414A;
  --table-border: #1D2125;
  --table-header: #2C333A;
  --table-hover: #22272B;
}

* {
  margin: 0;
}
body {
  background-color: var(--body-background);
  color: var(--body-text  )
}

table {
  border-collapse: collapse;
  width: 98%;
  margin: auto;
  background-color: var(--table-background);
}
th,
td {
  border: 1px solid var(--table-border);
  padding: 8px;
  text-align: left;
}
th {
  background-color: var(--table-header);
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: var(--table-header);
}
tr:hover {
  background: var(--table-hover);
}

button {
  padding: 8px 12px;
  background-color: var(--btn-green);
  color: var(--text-white);
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
}

button:hover {
  background-color: var(--btn-green-hover);
}

.delete-button,
.out-button {
  background-color: var(--btn-red);
}

.delete-button:hover,
.out-button:hover,
.clear-button:hover,
.close-button:hover {
  background-color: var(--btn-red-hover);
}

.addDelinquent-button {
  background-color: var(--btn-yellow);
  color: var(--text-black);
}
.addDelinquent-button:hover {
  background-color: var(--btn-yellow-hover);
}

#facilityName {
  transform: translate(-50%, -50%);
  font-size: x-large;
}

#loadDateTime {
  font-size: large;
}

#refreshIcon {
  color: var(--clickable-blue);
}

#refreshIcon:hover,
#facilityName:hover {
  cursor: pointer;
  color: var(--clickable-blue-hover);
}

#errText {
  color: red;
  text-align: center;
  margin-top: 10%;
}

.clickable:hover {
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--popup-background);
  padding: 40px;
  border: 2px solid var(--table-border);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.input-wrapper {
  margin-bottom: 10px;
}

input[type="text"],
.select-button {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--table-border);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: var(--input-background);
}

.clear-button {
  background-color: var(--btn-red);
  margin-bottom: 10px;
}

.select-button {
  padding: 8px;
  border: 1px solid var(--table-border);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: var(--btn-red-clear);
}

#loading-spinner {
  position: fixed;
  left: 50%;
  top: 250px;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 4px solid var(--table-border);
  border-left-color: var(--clickable-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--table-border);
}

nav .left,
nav .right {
  display: flex;
  align-items: center;
}

nav .right {
  margin-right: 30px;
}

nav .left a {
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
}

nav .left p {
  margin: 0;
}

#facilityName {
  font-size: 20px;
  color: var(--clickable-blue);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
  margin-right: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  margin-right: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10.5px);
  -ms-transform: translateX(10.5px);
  transform: translateX(10.5px);
}

.header-container {
  width: 100%;
  height: 100px;
  margin-top: 60px;
  display: flex;
}
.status-container {
  height: 100%;
  width: 33.333%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.status-item {
  text-align: center;
}
.status-item p {
  color: #666;
}
.center-container {
  width: 11.111%;
  height: 100%;
}
.left-container {
  width: 33.333%;
  height: 100px;
}
.btn-container {
  width: 22.222%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 1%;
}
.btn-container button {
  text-align: center;
}
.idCell {
  cursor: pointer;
  color: var(--clickable-blue);
}
.idCell:hover {
  color: var(--clickable-blue-hover);
}
@media screen and (max-width: 700px) {
  .status-container {
    display: none;
  }
  .center-container {
    width: 44.444%;
  }
}
@media screen and (max-width: 900px) {
  .hide-column {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #loadDateTime {
    display: none;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.darkModeCheckbox {
  margin-right: 10px;
}